:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #F27229;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    line-height: 2.5rem;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn {
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
}

.session {
    float: right;
}

#content {
    min-height: 600px;
    max-width: 68.3%;
    margin: auto;
    margin-top: 40px;
}