/* SEARCH BAR  */

#CREViewStudent .clear {
    content: "";
    clear: both;
    display: table;
}

#CREViewStudent .vertical-algin * {
    display: inline-block;
    margin-bottom: 12px;
}

#CREViewStudent .content-heading {
    color: #2C5282;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewStudent .semeter * {
    color: #2C5282;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

#CREViewStudent .semeter-name {
    margin: 0 8px;
    padding: 4px 32px;
    background-color: #DBF1FF;
}

#CREViewStudent .cr-search {
    width: 40%;
    position: relative;
    float: right;
    text-align: right;
    font-size: 1.8rem;
    color: #2C5282;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewStudent .cr-search-bar {
    right: inherit;
    width: 400px;
    padding: 6px 0;
    background-color: #DBF1FF;
    outline: none;
    border: none;
    text-indent: 20px;
}

#CREViewStudent .cr-search i {
    position: absolute;
    right: 8px;
    top: 8px;
}


/* TITLE CONTENT  */

#CREViewStudent .content-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewStudent .student-item {
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewStudent .content-title {
    padding: 24px 16px 8px 16px;
    border-bottom: 1px solid;
    color: #2C5282;
}

#CREViewStudent .student-list {
    margin-top: 24px;
}

#CREViewStudent .student-item {
    background-color: #F7FAFC;
    padding: 24px 16px;
    margin-bottom: 8px;
}

#CREViewStudent .content-title>* {
    margin-right: 24px;
    align-self: center;
}

#CREViewStudent .student-item>* {
    display: inline-block;
}

#CREViewStudent .col1 {
    width: 4%;
}

#CREViewStudent .col2 {
    width: 20%;
}

#CREViewStudent .col3 {
    width: 36%;
}

#CREViewStudent .col4 {
    width: 20%;
    margin-right: 50px;
}

#CREViewStudent .col5 {
    width: 10%;
}

#CREViewStudent .col5 {
    color: var(--white-color);
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 5px;
}

#CREViewStudent .col5 {
    background-color: #2C5282;
}


/* FILTER  */

#CREViewStudent .filter {
    color: #0066B2;
    font-size: 2.2rem;
    margin: 16px 0;
}

#CREViewStudent .filter--item {
    display: inline-block;
}

#CREViewStudent #job-number {
    font-weight: bold;
}

#CREViewStudent .filter--select {
    float: right;
    font-weight: bold;
    margin-left: 40px;
    position: relative;
}

#CREViewStudent .filter--select i {
    margin-left: 2px;
}

#CREViewStudent .filter--select:hover {
    cursor: pointer;
    color: var(--black-color);
}

#CREViewStudent #majors-dropdown,
#CREViewStudent #types-dropdown {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 300px;
    padding: 26px 28px 20px 28px;
}

#CREViewStudent .majors:hover #majors-dropdown,
#CREViewStudent .types:hover #types-dropdown {
    display: block;
}

#CREViewStudent .majors-item,
#CREViewStudent .types-item {
    color: #0066B2;
    margin-bottom: 4px;
}

#CREViewStudent #CREViewStudent .majors-item:hover,
.types-item:hover {
    color: var(--primary-color);
}