/* MODAL */

.modal {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(242, 114, 41, 0.7);
}

.modal-cover {
    position: relative;
    background-color: var(--primary-color);
    width: 34%;
    height: 67%;
    margin-left: 34%;
    top: 14%;
}

.modal-content {
    position: absolute;
    top: 12%;
    background-color: var(--white-color);
    left: 32.5%;
    width: 34%;
}

.modal-header {
    text-align: center;
    padding: 32px 16px;
}

.close-modal {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 30px;
    margin-top: 8px;
    margin-right: 12px;
    display: block;
}

.close-modal:hover {
    cursor: pointer;
}

.modal-title {
    display: block;
    top: 25px;
}

.modal-logo {
    width: 50%;
}

.modal-name {
    font-size: 4.8rem;
    color: var(--primary-color);
    margin: 24px 0;
}

.modal-description {
    font-size: 2.4rem;
    margin: 32px 0 0 0;
    font-weight: 400;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-input {
    position: relative;
    text-indent: 50px;
    padding: 17px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    margin: 24px;
    width: 80%;
    background-color: #EDF2F8;
    font-size: 2.8rem;
    outline: none;
}

.input-user-icon {
    z-index: 1;
    position: absolute;
    top: 45%;
    font-size: 30px;
    opacity: 70%;
    left: 14%;
}

.input-pwd-icon {
    z-index: 1;
    position: absolute;
    top: 62.5%;
    font-size: 30px;
    opacity: 70%;
    left: 14%;
}

.btn-login {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 3.6rem;
    border: none;
    width: 80%;
    padding: 12px;
    margin-top: 24px;
}

.modal-footer {
    font-size: 2.4rem;
    margin-bottom: 50px;
    margin-top: 8px;
}

.modal-footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.open {
    display: block;
}