.display {
    display: block !important;
}

.search-bar {
    display: flex;
}

.search-input {
    width: 90%;
    padding: 10px;
    font-size: 1.8rem;
    text-indent: 32px;
    position: relative;
    border: none;
    outline: none;
    background-color: #DBF1FF;
}

.search--bar--icon {
    z-index: 1;
    position: absolute;
    left: 16.5%;
    color: var(--black-color);
    opacity: 60%;
}

.clear-icon {
    position: absolute;
    z-index: 1;
    right: 23.5%;
    line-height: 45px;
    color: #000;
    opacity: 60%;
    font-size: 30px;
}

.clear-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search-icon {
    font-size: 20px;
    line-height: 45px;
}

.btn-search {
    width: 10%;
    padding: 0 2px;
    font-size: 2.2rem;
    border-radius: 0 2px 2px 0;
}

.filter {
    color: #0066B2;
    font-size: 2.2rem;
    margin: 16px 0;
}

.filter--item {
    display: inline-block;
}

#job-number {
    font-weight: bold;
}

.filter--select {
    float: right;
    font-weight: bold;
    margin-left: 40px;
    position: relative;
}

.filter--select i {
    margin-left: 2px;
}

.filter--select:hover {
    cursor: pointer;
    color: var(--black-color);
}

#majors-dropdown,
#types-dropdown {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 300px;
    padding: 26px 28px 20px 28px;
}

.majors:hover #majors-dropdown,
.types:hover #types-dropdown {
    display: block;
}

.majors-item,
.types-item {
    color: #0066B2;
    margin-bottom: 4px;
}

.majors-item:hover,
.types-item:hover {
    color: var(--primary-color);
}


/* COMPANY LIST  */

.company-item {
    display: flex;
    border: 1px solid #A8E4FC;
    align-self: stretch;
    background-color: #F7F7F7;
}

.company-logo {
    width: 15%;
    padding: 32px 32px;
    display: flex;
    align-self: center;
}

.company-info {
    width: 90%;
    padding: 16px 42px;
    background-color: #F5FCFF;
    border-left: 1px solid #A8E4FC;
}

.company-name {
    font-weight: bold;
}

.company-info p {
    font-size: 1.2rem;
}

.company-info h3 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.company-logo img {
    width: 100%;
    display: block;
}


/* MODAL */

.col-haft {
    float: left;
    width: 30%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.modal {
    /* display: none; */
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(242, 114, 41, 0.7);
}

.modal-header {
    padding: 24px;
}

.modal-content {
    position: relative;
    top: 12%;
    width: 70%;
    background-color: var(--white-color);
    margin: auto;
    border-radius: 8px;
    padding: 0 128px;
    padding-bottom: 52px;
}

.close-modal {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 30px;
    margin-top: 16px;
    margin-right: 24px;
    display: block;
}

.close-modal:hover {
    cursor: pointer;
}

.modal-title {
    margin-top: 32px;
    width: 100%;
}

.modal-title>* {
    display: inline-block;
    vertical-align: middle;
}

.modal-company-logo {
    width: 20%;
    float: left;
}

.modal-company-logo img {
    width: 100%;
    object-fit: cover;
}

.company-introduction {
    width: 70%;
    float: left;
    margin-left: 50px;
    text-align: left;
    height: 100%;
}

.company-introduction div {}

.company-name {
    font-size: 3.6rem;
    margin-bottom: 12px;
}

.company-name::first-letter {
    text-transform: capitalize;
}

.company-location {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
}

.hiring-title {
    display: block;
    font-size: 3.6rem;
    margin: 32px 0;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3.6rem;
    text-align: center;
}

.company-infor {
    margin-top: 14px;
}

.decoration {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 4px;
}

.company-infor-title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 12px;
}

.company-infor-detail {
    font-size: 2rem;
    text-transform: capitalize;
}

.company-infor-desc {
    font-size: 2rem;
    width: 100%;
    max-height: 150px;
    background-color: #F7F7F7;
    padding: 16px;
    overflow-y: scroll;
}

.js-website {
    text-transform: none !important;
}

.divide {
    display: flex;
    margin-top: 32px;
}

.divide-name {
    flex-grow: 0.1;
    font-size: 1.8rem;
    color: #c4c4c4;
    margin-right: 4px;
}

.divide-line {
    border-bottom: 1px solid #c4c4c4;
    flex-grow: 200;
    margin-bottom: 6px;
}

.recruiting-details {
    width: 100%;
}

.recruiting-details * {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 12px 0;
}

.col1 {
    width: 30%;
    text-transform: capitalize;
}

.col2 {
    width: 65%;
    text-align: left;
}

.btn-interact {
    margin-top: 120px;
    margin-left: 60%;
}

.btn-transfer,
.btn-apply {
    border-radius: 6px;
    border: none;
    width: 160px;
    height: 52px;
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--white-color);
}

.btn-transfer {
    background-color: #0066B2;
}

.btn-apply {
    background-color: var(--primary-color);
    margin-left: 42px;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}