.search-bar {
    display: flex;
}

.search-input {
    width: 90%;
    padding: 10px;
    font-size: 1.8rem;
    text-indent: 32px;
    position: relative;
    border: none;
    outline: none;
    background-color: #DBF1FF;
}

.search--bar--icon {
    z-index: 1;
    position: absolute;
    left: 16.5%;
    color: var(--black-color);
    opacity: 60%;
}

.clear-icon {
    position: absolute;
    z-index: 1;
    right: 23.5%;
    line-height: 45px;
    color: #000;
    opacity: 60%;
    font-size: 30px;
}

.clear-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search-icon {
    font-size: 20px;
    line-height: 45px;
}

.btn-search {
    width: 10%;
    padding: 0 2px;
    font-size: 2.2rem;
    border-radius: 0 2px 2px 0;
}

.filter {
    color: #0066B2;
    font-size: 2.2rem;
    margin: 16px 0;
}

.filter--item {
    display: inline-block;
}

#job-number {
    font-weight: bold;
}

.filter--select {
    float: right;
    font-weight: bold;
    margin-left: 40px;
    position: relative;
}

.filter--select i {
    margin-left: 2px;
}

.filter--select:hover {
    cursor: pointer;
    color: var(--black-color);
}

#majors-dropdown,
#types-dropdown {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 300px;
    padding: 26px 28px 20px 28px;
}

.majors:hover #majors-dropdown,
.types:hover #types-dropdown {
    display: block;
}

.majors-item,
.types-item {
    color: #0066B2;
    margin-bottom: 4px;
}

.majors-item:hover,
.types-item:hover {
    color: var(--primary-color);
}


/* COMPANY LIST  */

.company-item {
    display: flex;
    border: 1px solid #A8E4FC;
    align-self: stretch;
    background-color: #F7F7F7;
}

.company-logo {
    width: 15%;
    padding: 32px 32px;
    display: flex;
    align-self: center;
}

.company-info {
    width: 90%;
    padding: 16px 42px;
    background-color: #F5FCFF;
    border-left: 1px solid #A8E4FC;
}

.company-name {
    font-weight: bold;
}

.company-info p {
    font-size: 1.2rem;
}

.company-info h3 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.company-logo img {
    width: 100%;
    display: block;
}